  
  .react-datepicker__input-container input {
    /* Your custom styles here */
    margin-left: 1vw;
    margin-right: 1vw;
    width: 15vw;
  }
  


  .react-datepicker__navigation-icon {
  width: 25px;
  height: 25px;
}