.stats-container {
  height: 100%;
  width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-weight: 500;
    color: #4b4b4b; 
  }

  .info--icon--container {
    align-self: flex-end;
    margin-top: -30px;
    margin-right: 30px;
    width: 30px;
    height: 30px;
  }

  .main--stats {
    width: 85%;
    gap: 9vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .main--icon--container{
    height: 100%;
    width: 50%;
  }

  .main--info--container{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .main--info--container .upper{
    font-size: 6vw;
    margin-bottom: 1vh;
    color: #222222;
  }

  .main--info--container .downer{
    font-size: 2vw;
    text-wrap: nowrap;
  }

  .other--info--container{
    width: 33%;
    height: 100%;
    font-size: 1.2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 4vh;
  }

  .curiosities--container{
    justify-self: flex-start;
    font-size: 1.2vw;
  }
  

